{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ eleve.mail }}</td>
            </tr>
            <tr>
                <th>Nom_eleve</th>
                <td>{{ eleve.nomEleve }}</td>
            </tr>
            <tr>
                <th>Prenom_eleve</th>
                <td>{{ eleve.prenomEleve }}</td>
            </tr>
            <tr>
                <th>Date_naiss_eleve</th>
                <td>{{ eleve.dateNaissEleve ? eleve.dateNaissEleve|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleve_index') }}">back to list</a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
